<a onclick="goBack()"><div class="navBox">go back</div></a>
<a href="/admin"><div class="navBox">go to admin</div></a>
<a href="/inventory"><div class="navBox">update inventory</div></a>
<a href="/options"><div class="navBox">update options</div></a>
<a href="/market"><div class="navBox">view market</div></a>