<script src="/javascripts/cart.js"></script>
<script src="/javascripts/burgBtn.js"></script>
<div id="menu" class="menu">
    <div id="burgBtn" onclick="menuOpen()" class="hamburger">
<div id="hmTop" class="hm"></div>
<div id="hmMid" class="hm"></div>
<div id="hmBot" class="hm"></div>
</div>
</div>

<div id="menuPage">
    <div class="menuContent">
        <p><a href="/">Home</a></p>         
        <%if (typeof data=='object'&&  data){%>
        <%for(let i=0;i<data[2].length;i++){%>
            <p><a href="/introDetails?id=<%=data[2][i]._id%>"> <%=data[2][i].introHeader%></a></p> 
           
            <%}%>
            <%}%>
        <p><a href="/register">Contact</a></p>
   

</div>
</div>


 


