<div id="loadScreen" class="loadScreen">
   
    
    <h2 id="loadMessage">Loading Data</h2>
    <div class="loadContainer"><div class="loadAnimate"></div></div>
    <div class="loadContainer"><div class="loadAnimate"></div></div>
    <div class="loadContainer"><div class="loadAnimate"></div></div>
</div>

