<div class="midBar">
   
    <a href="/admin">     <div class="navBox">
        admin
    </div></a>


<a href="/services"> <div class="navBox">
    services
</div></a>


<a href="/accounts">   <div class="navBox">
accounts
</div></a>



</div>