/node_modules
/.env
/config/mongo.js
/config/config.js
/config/config*
/config/dbSetup.js
/config/db.js
/config/app.json
/php
/public/images/blog
/public/images/inventory
/google52e38ec3d70db39d.html
/paste.txt
/uploads
/images
