<!DOCTYPE html>
<html>
    
    <%- include('config/head.ejs')%>
    <canvas id="bkgdCanvas"></canvas>  
   
    <div id="backgroundFX">
 <div class="mainStyle">
 
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/header.ejs')%>
    <body>
    <div class="eventBody">
<h1>W2 Marketing LLC Web Application Service Agreement</h1>
<ul>
<li>We will not share your information with anyone</li>
<li>We use Google Profile Data to create a dynamic User and Client experience</li>
<li>We will not today or any day in the future sell your information per <a href="/w2"> W2 Marketing LLC</a> of Greeley,CO</li>
<li>Use as of this app must use as intended</li>
<li>User consents to sharing google profile and openID information</li>
<li>W2 Marketing stores user info in a database using best security practices</li>
<li>Breaches are rare. In case of a nafarious data breach, W2 Marketing will make contact with all affected users, in good faith, to secure passwords and personal logins</li>
<li>Users may request to delete info by sending a request from the registered email name to "Scott"email to: w2marketing.scott@gmail.com</li>
</ul>
</div>
</div>
      </div>
      <%- include('config/footer.ejs')%>
      <!--script src="javascripts/backgroundFX1.js"></script-->
   <script src="javascripts/login.js"></script> 
    </body>
    </html>