@keyframes iconScaler{
  0%{transform: scale(1);}
  20%{transform: scale(1.1);}
  40%{transform: scale(1);}
  60%{transform: scale(1.18);}
  80%{transform: scale(1);}
  100%{transform: scale(1);}
}
.cartIcon{  
  position: fixed;
  width: 19%;
  right: 50px;
  bottom: 70px;
  animation: 5s linear  infinite 3s iconScaler;
    &_inv{
        width:44%;
        filter: invert(50%);
    }
    @media (min-width:700px){
width:5%
    }
}
.gglButton{
   max-width: 75%;
   max-height: 75%;
   
   
}
