.truckIcon{
    min-width: 100px;
    min-height: 100px;
    background-color: pink;
}
.wheel{
    position: absolute;
    min-height: auto;
    min-width: 5%;
    border: 3px solid white;
    border-radius: 50%;
    &:after{
        position: fixed;
        min-height: 5%;
        left: 5%;
        min-width: 5%;
        border: 3px solid white;
        border-radius: 50%;
    }
}