<style>
    .adminNavButtons{
        width:100%;
        background-color:black;
        display: flex;
    }
    .adminNavButton{
        border:1px solid white;
        flex-grow:1 ;
        color:rgb(255, 255, 255);
    }
    .adminNavButton:hover{
        background-color: gold;
        color:rgb(0, 0, 0);
    }
</style>
<div class="adminNavButtons">
    <div id="introContentLive_control" class="adminNavButton">intro content</div>
<div id="gallery_control" class="adminNavButton">galleries</div>
<div id="introContent_control" class="adminNavButton">add content</div>
</div>
