<style>
    .adminNavButtons{
        display: flex;
        width:100%;
        background-color:black;
        display: flex;
    }
    .adminNavButton{
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        display: flex;
        border:1px solid white;
        flex-grow:1 ;
        height:50px;
        color:rgb(255, 255, 255);
        font-size: 2rem;
        font-family: "combo";
        
    }
    .adminNavButton:hover{
        background-color: gold;
        color:rgb(0, 0, 0);
    }
</style>
<div class="adminNavButtons">
    <div id="introContentLive_control" class="adminNavButton">intro content</div>
<div id="gallery_control" class="adminNavButton">galleries</div>
<div id="introContent_control" class="adminNavButton">add content</div>
</div>
