<%- include('../config/loadScreen')%>
      <div class=""> 
        <div>
          <div class="newContact">
            <form action="/newContact" method="POST">
    <h2>Contact Us:</h2>
    <br><h2>name</h2>
      <input id="regName" type="text" name="fname"  pattern=".{3,}" title="three or more charachters" >
      <br><h2>email address</h2>
      <input id="regEmail" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="valid email characters not recognized">

      <select name="regType" id="">
        <option name ="vendor" value="being a vendor"><h2>Have a Question</h2></option>
        <option name ="member" value="member"><h2>Commission a Design</h2></option>       
        <option name ="feedback" value="quote"><h2>I need an Estimate</h2></option>
        <option name ="feedback" value="feedback"><h2>something else</h2></option>

      </select>
      <div class="selectDiv">
        <input id="regBox" type="checkbox" name="agree">
      <p>by selecting you agree to our <a id="tosWindow"> terms of service</a> and <a id="privacyPolicy">privacy policy</a>. 
        <br> To prevent spam you will receive a confirmation email to authenticate your email address</p>
      
    </div>
      <h2 class="validateError" id="regValidateError">*please fill out all fields and "Opt In" to submit</h2>
      <h2>Your Message: </h2>

      <textarea name="message" cols="30" rows="10"></textarea>
      <button  onclick="loading('Please check your Email for confirmation link')" id="regSubmit" type="submit"><h2>submit form</h2></button>
</form>
<h5 id="xClose"><a>❌ close this window</a></h5>
</div>
</div>
<div></div>

</div>
<script src="/javascripts/loadScreen.js"></script>
<script src="/javascripts/login.js"></script>
<script src="/javascripts/validate.js"></script>